.col-3 {
  background-size: cover;
  background-position: center;
  height: 20em;
  margin: 0 2em;
  border-radius: 8px;
  h5 {
    text-align: left;
    margin: 30vh 1vh 0vh;
    color: white;
    text-shadow: 0.1em 0.1em 0.1em black;
  }
  p {
    color: white;
    font-size: large;
    font-weight: bold;
    margin-left: 2vh;
    color: white;
    text-shadow: 0.1em 0.1em 0.1em black;
  }
}

h3 {
  margin-top: 3em;
  a {
    color: white;
  }
}
